{% extends "home.html" %}

{% block section %}

    <h1>Crear Posicion</h1>

    <form action="/App/grabar_posicion/" method="POST"> 
        
        {% csrf_token %}
       
        <p>
            Equipo : 
            <select name="equipo" class="form-control">
                <option value=""></option>
                {% for equipo in equipos %}
                    <option value="{{equipo.id}}">
                        {{equipo.nombre}}
                    </option>
                {% endfor %}
            </select>
        </p>
        
        
        <p>
            Puntos : <input type="number" name="puntos" min="0" max="30" class="form-control">  
        </p>

        <p>
            <input type="submit" value="Guardar" class="btn btn-secondary"> 
        </p>

    </form>

{% endblock %}