{% extends "home.html" %}

{% block section %}

    <h1>Buscar Resultado</h1>

    <form action="/App/get_resultado/" method="GET"> 
        
        <p>
            Partido : 
            <select name="partido" class="form-control">
                <option value=""></option>
                {% for partido in partidos %}
                    <option value="{{partido.id}}">
                        {{ partido.fecha }} - {{ partido.hora }} {{ partido.equipo_local.nombre }} vs {{ partido.equipo_visitante.nombre }}
                    </option>
                {% endfor %}
            </select>
        </p>
        
        <p>
            <input type="submit" value="Buscar" class="btn btn-secondary"> 
        </p>

    </form>

{% endblock %}