{% extends "home.html" %}

{% block section %}

    <h1>Resultados</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Equipo Local</th>
                <th scope="col">Equipo Visitante</th>
                <th scope="col">Fecha</th>
                <th scope="col">Hora</th>
                <th scope="col">Goles Local</th>
                <th scope="col">Goles Visitante</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for resultado in resultados %}
                <tr>
                    <td>{{ resultado.partido.equipo_local.nombre }}</td>
                    <td>{{ resultado.partido.equipo_visitante.nombre }}</td>
                    <td>{{ resultado.partido.fecha }}</td>
                    <td>{{ resultado.partido.hora }}</td>
                    <td>{{ resultado.equipo_local }}</td>
                    <td>{{ resultado.equipo_visitante }}</td>
                    <td>
                        <a href="{% url 'ver_resultado' resultado.pk %}">
                            <button type="button" class="btn btn-info">Ver</button>
                        </a>
                        <a href="{% url 'actualizar_resultado' resultado.pk %}">
                            <button type="button" class="btn btn-warning">Editar</button>
                        </a>
                        <a href="{% url 'eliminar_resultado' resultado.pk %}">
                            <button type="button" class="btn btn-danger">Eliminar</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <br>

    <a href="{% url 'crear_resultado' %}">
        <button type="button" class="btn btn-success">Cargar Resultado</button>
    </a>

{% endblock %}