{% extends "home.html" %}

{% block section %}

    <h1>Crear Partido</h1>

    <form action="/App/grabar_partido/" method="POST"> 
        
        {% csrf_token %}
       
        <p>
            Equipo Local : 
            <select name="equipo_local" class="form-control">
                <option value=""></option>
                {% for equipo in equipos %}
                    <option value="{{equipo.id}}">
                        {{equipo.nombre}}
                    </option>
                {% endfor %}
            </select>
        </p>
        
        <p>
            Equipo Visitante :
            <select name="equipo_visitante" class="form-control">
                <option value=""></option>
                {% for equipo in equipos %}
                    <option value="{{equipo.id}}">
                        {{equipo.nombre}}
                    </option>
                {% endfor %}
            </select>
        </p>

        <p>
            Fecha : <input type="date" name="fecha" class="form-control" class="form-control"> 
        </p>

        <p>
            Hora : <input type="time" name="hora" class="form-control" class="form-control"> 
        </p>
        
        <p>
            <input type="submit" value="Guardar" class="btn btn-secondary"> 
        </p>

    </form>

{% endblock %}