{% extends "home.html" %}

{% block section %}

    <h1>Crear Equipo</h1>

    <form action="/App/grabar_equipo/" method="POST"> 
        
        {% csrf_token %}
        
        <p>
            Nombre : <input type="text" name="nombre" class="form-control"> 
        </p>
        
        <p>
            Fecha Fundación : <input type="date" name="fechafundacion" class="form-control"> 
        </p>
        
        <p>
            <input type="submit" value="Guardar" class="btn btn-secondary"> 
        </p>

    </form>

{% endblock %}